/node_modules
/public/hot
/public/storage
/public/assets/images
/public/bower_components/
/public/build/
/public/dist/
/public/documentation/
/public/pages/
/public/plugins/
/storage/*.key
/vendor
/.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
